{% load static %}
<script src="{% static 'assets/js/myval.js' %}"></script>
<script>

$("#btnsave").click(function(){
   

    let name1 = $("#name").val();
    let company1 = $("#company").val();
    let occupation1= $("#occupation").val();
    let aadhar1 = $("#aadhar").val();
    let residential1 = $("#residential").val();
    let corresponding1 = $("#corresponding").val();
    let mobile1 = $("#mobile").val();
    let mobile_alt1 = $("#mobile_alt").val();
    let email1 = $("#email").val();
    let invest1 = $("#invest").val();
     
     mydata = {name:name1,company:company1,occupation:occupation1,aadhar:aadhar1,residential:residential1,corresponding:corresponding1,mobile:mobile1,mobile_alt:mobile_alt1,email:email1,invest:invest1};
     
     if(myfun()==true)
     { fun()
        $.ajax({
         url: "{% url 'investor_view' %}",
         method: "POST",
         data: mydata,
         success: function(data){
          
             document.getElementById("inform").reset();
             document.getElementById("emform").reset();
             document.getElementById("myform2").style.display="none";
             document.getElementById("email_field").value="";
             document.getElementById("email_field").readOnly=false;
             document.getElementById("email_field").style.display="block";
             swal(data.name , " Your Form Has Been Submitted Successfullly !", "success");
             window.location.href="/investor"
             
         }
     })
     }
   

     
      
})
</script>
<script>

    function fun(){
        let timerInterval
Swal.fire({
  title: 'Sending Your Message',
  html: 'I will close in <b></b> milliseconds.',
  timer: 7000,
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    timerInterval = setInterval(() => {
      const content = Swal.getHtmlContainer()
      if (content) {
        const b = content.querySelector('b')
        if (b) {
          b.textContent = Swal.getTimerLeft()
        }
      }
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})
    }
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
