<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranage</title>
    
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/apple-touch-icon-114x114.png' %}">

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/slider.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/icons-fa.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/animation.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/cookie-notice.min.css' %}">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">

        <!-- ==============================================
        Theme Color
        =============================================== -->
        <meta name="theme-color" content="#21333e">

        <!-- ==============================================
        Theme Settings
        =============================================== -->
        <style>
            :root {
                --hero-bg-color: #000000;
    
                --section-1-bg-color: #eef4ed;
                --section-2-bg-color: #111117;
                --section-3-bg-color: #eef4ed;
                --section-4-bg-color: #ffffff;
                --section-5-bg-color: #111117; --section-5-bg-image: url('/assets/images/bg-1.jpg');
                --section-6-bg-color: #eef4ed;

                --footer-bg-color: #111117; --footer-bg-image: url('/assets/images/bg-10.jpg');
            }
        </style>
</head>
<body>
    {% block content %}
     
    {% endblock content %}

<!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>        

    <script src="https://www.google.com/recaptcha/api.js?render=6Lf-NwEVAAAAAPo_wwOYxFW18D9_EKvwxJxeyUx7"></script>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
        <script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery.inview.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/ponyfill.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/slider.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/animation.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/progress-radial.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bricklayer.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/gallery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/shuffle.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/cookie-notice.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/particles.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>