function mobile_validation(){
    var a = document.getElementById("mobile_field").value;
    if (isNaN(a)){
        document.getElementById("mobile").value="";
        notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter correct mobile number!' })
        document.getElementById("mobile").focus();
         return false;
    }
    if(a.length<10){
        document.getElementById("mobile").value="";
        notie.alert({ type: 'warning',position: 'bottom',text: 'Mobile Number can not be less than 10 digits' })
          document.getElementById("mobile").focus();
         return false;
    }
    if(a.length>10){
        document.getElementById("mobile").value="";
        notie.alert({ type: 'warning',position: 'bottom',text: 'Mobile Number can not be more than 10 digits' })
        document.getElementById("mobile").focus();
         return false;
    }
    else{
        return true;
    }
}





function email_validation(){
    var email = document.getElementById("email_field").value;
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    console.log(email)
    if(email==""){

        notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter your email address!' , time: 3})
        document.getElementById("email").focus();
         return false;
    }

    if(!(re.test(email))){
        notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter correct email address!' , time: 3})
        document.getElementById("email").focus();
         return false;
    }
    else{
        return true;
    }

}