-----------------------------------distributor Details----------------------------------------

distributor Name:{{name}} {{last_name}}
distributor date of birth : {{dob}}
distributor aadhar_no : {{aadhar_no}}
distributor PAN Card : {{pan_no}}
distributor Mobile No. : {{mobile}}
distributor Alternate Mobile No. : {{alt_mobile}}
distributor street : {{street}}
distributor block : {{block}}
distributor distric : {{distric}}
distributor state : {{state}}
distributor Email : {{email}}
distributor education : {{education}}
distributor message : {{message}}

