 {% load static %}
  <footer>

            <!-- Footer [content] -->
            <section id="footer" class="odd footer offers">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3 footer-left">

                            <!-- Navbar Brand-->
                            <a class="navbar-brand" href="/">
                                <span class="brand">
                                    <span class="featured">
                                        <span class="first">TRAN</span>
                                    </span>
                                    <span class="last">AGE</span>
                                </span>
                                
                                <!-- 
                                    Custom Logo
                                    <img src="assets/images/logo.svg" alt="NEXGEN">
                                -->
                            </a>
                            <p>A Functional HTML Template<br>for Corporate & Business.</p>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-phone-alt mr-2"></i>
                                       +91 7805-355491
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-envelope mr-2"></i>
                                        hello@heyscg.com
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-map-marker-alt mr-2"></i>
                                      3/61 Patrakar Puram, Vinay khand, Gomti Nagar, Lucknow (UP)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#contact" class="mt-4 btn outline-button smooth-anchor">GET IN TOUCH</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-9 p-0 footer-right">
                            <div class="row items">
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>About</h4>
                                        <a href="#"><i class="icon-arrow-right"></i>The Company</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Institutional</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Social & Events</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Innovation</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Environment</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Technology</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Transport</h4>
                                        <a href="#"><i class="icon-arrow-right"></i>Industrialized</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Chemicals</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Packaged Liquids</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Construction</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Laminated Wood</a>
                                        <a href="#"><i class="icon-arrow-right"></i>And others</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 item">
                                    <div class="card">
                                        <h4>Support</h4>
                                        <a href="#"><i class="icon-arrow-right"></i>Responsibility</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Terms of Use</a>
                                        <a href="#"><i class="icon-arrow-right"></i>About Cookies</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Privacy Policy</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Accessibility</a>
                                        <a href="#"><i class="icon-arrow-right"></i>Information</a>
                                    </div>
                                     <li class="nav-item ">
                                    <a href="#contact" class=""><img src="{% static 'assets/images/google.png' %}" alt="" ></a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </section>

            <!-- Copyright -->
            <section id="copyright" class="p-3 odd copyright">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-12 col-md-6 p-3 mx-auto text-center text-lg-center">
                            <p>Copyright © 2021 SCGTRP is Proudly Powered by <a href="#" target="_blank">SCG</a>.</p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>