 {% load static %}
  <footer>
      <style>

        @media screen and (min-width: 1000px) {
        #logo1 {
            margin-left:45%;
        }
        }
      </style>
            <!-- Footer [content] -->
            <section id="footer" class="odd footer offers">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-12 align-items-center footer-right">

                            <!-- Navbar Brand-->
                            <a class="align-items-center" href="/">
                               
                                
                               
                                    <img id="logo1" style="width:100px;height: 100px;" src="{% static 'assets/images/client/TRANAGE.png' %}" alt="Tranage">
                               
                            </a>
                            
        
                        </div>
                       
                        <div class="col-12 col-lg-12 p-0 footer-right">
                            <div class="row items">
                               
                               
                                <div class="col-12 col-lg-4 align-items-center">
                                 <br><br><br>
                                    <div class="card align-items-center">
                                        <h4>Address</h4>
                                       
                                        <a href="#" class="nav-link" style="line-height:2rem">
                                            <pre style="display:inline;" >  </pre><i class="fas fa-map-marker-alt mr-2"></i>
                                          <pre style="display:inline;" ></pre>3/61 Patrakar Puram, <pre style="display: inline;" >    </pre> Vinay khand, Gomti <br>  <pre style="display: inline;" >    </pre>  Nagar, Lucknow (UP)
                                        </a>
                                    </div>
                                    <h1></h1>
                                    
                                </div>

                                <div class="col-12 col-lg-4 align-items-center">
                                    <br><br><br>
                                       <div class="card align-items-center ">
                                           <h4>Support</h4>
                                          
                                           <a href="#">Terms of Use</a>
                                           <a href="#">About Cookies</a>
                                           <a  href="#">Privacy Policy</a>
                                           <div style="visibility: hidden;">kfjsf</div>
                                           
                                         
                                       </div>
                                      
                                      
                                   </div>

                                <div class="col-12 col-lg-4 align-items-center">
                                    <br><br><br>
                                       <div class="card align-items-center" >
                                           <h4>Contact US</h4>
                                          
                                           <a href="#" class="nav-link">
                                            <i class="fas fa-phone-alt mr-2"></i>
                                           +91 7805-355491
                                           </a>
                                           <a href="#" class="nav-link">
                                            <i class="fas fa-envelope mr-2"></i>
                                            support@heyscg.com
                                           </a>
                                           
                                            <div>

                                                <a style="display: inline;" href="#" class="nav-link"><i style="display: inline;" class="fab fa-facebook-f"></i></a>
                                        
                                            <a style="display: inline;" href="#" class="nav-link"><i style="display: inline;" class="fab fa-twitter"></i></a>
                                       
                                      
                                            <a style="display: inline;" href="#" class="nav-link pr-0"><i style="display: inline;" class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        
                                          
                                       </div>
                                       <h1></h1>
                                       <style>

                                        @media screen and (min-width: 1000px) {
                                        #google {
                                            margin-left: 20%;
                                        }
                                        }
                                       </style>
                                      <div class=" align-items-center"></div>
                                        <a id="google" href="https://play.google.com/" target="_blank" class=""><img src="{% static 'assets/images/google.png' %}" alt="" style="height:60px;width:220px;"></a>
                                      </div>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </section>

            <!-- Copyright -->
            <section id="copyright" class="p-3 odd copyright">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-12 col-md-6 p-3 mx-auto text-center text-lg-center">
                        {% now "Y" as current_year %}
                       
                            <p>Copyright © {{current_year}} Tranage is Proudly Powered by SCG.</p>
                          
                        </div>
                    </div>
                </div>
            </section>

        </footer>