 {% load static %}
  <footer>

            <!-- Footer [content] -->
            <section id="footer" class="odd footer offers">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3 footer-left">

                            <!-- Navbar Brand-->
                            <a class="navbar-brand" href="/">
                                <span class="brand">
                                    <span class="featured">
                                        <span class="first">TRAN</span>
                                    </span>
                                    <span class="last">AGE</span>
                                </span>
                                
                                <!-- 
                                    Custom Logo
                                    <img src="assets/images/logo.svg" alt="NEXGEN">
                                -->
                            </a>
                            
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <h1></h1>
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-phone-alt mr-2"></i>
                                       +91 7805-355491
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-envelope mr-2"></i>
                                        support@heyscg.com
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="line-height:2rem">
                                        <i class="fas fa-map-marker-alt mr-2"></i>
                                      3/61 Patrakar Puram, Vinay khand, Gomti Nagar, Lucknow (UP)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'contact' %}" class="mt-4 btn outline-button ">GET IN TOUCH</a>
                                    <br>
                                    <br>
                                     <a href="#contact" class=""><img src="{% static 'assets/images/google.png' %}" alt="" style="height:60px;width:170px;"></a>
                                </li>
                            </ul>
                        </div>
                       
                        <div class="col-12 col-lg-9 p-0 footer-right">
                            <div class="row items">
                               
                               
                                <div class="col-12 col-lg-12 item">
                                 <br><br><br>
                                    <div class="card">
                                        <h4>Support</h4>
                                       
                                        <a href="#">Terms of Use</a>
                                        <a href="#">About Cookies</a>
                                        <a href="#">Privacy Policy</a>
                                        <a href="#">Accessibility</a>
                                        <a href="#">Information</a>
                                    </div>
                                    <h1></h1>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </section>

            <!-- Copyright -->
            <section id="copyright" class="p-3 odd copyright">
                <div class="container">
                    <div class="row">
                       
                        <div class="col-12 col-md-6 p-3 mx-auto text-center text-lg-center">
                            <p>Copyright © 2021 Tranage is Proudly Powered by <a href="#" target="_blank">SCG</a>.</p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>