{% load static %}
<header id="header">


<style>
body {
  background: black;
}
.bb{
    color:black;
}
</style>  

            <!-- Top Navbar -->
            <nav class="navbar navbar-expand top">
                <div class="container header">

                    <!-- Navbar Items [left] -->
                    <ul class="navbar-nav">
                       
                    </ul>

                    <!-- Nav holder -->
                   
     
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-phone-alt mr-2"></i>+91 7805-355491</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link"><i class="fas fa-envelope mr-2"></i>support@tranage.com</a>
                        </li>
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link pr-0"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-fixed sub">
                <div class="container header">

                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="/">
                         <img src="https://res.cloudinary.com/tranage/image/upload/v1624019453/1_mssgf7.png" alt="Tranage">
                    </a>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items -->
                   
                    <ul class="navbar-nav items ">
                        <li class="nav-item dropdown ">
                            <a style="font-weight:1000" href="{% url 'index' %}" class="nav-link bb">OVERVIEW </i></a>
                           
                        </li>
                        <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="#" class="bb nav-link ">FOR YOU <i class="icon-arrow-down" disabled ="disabled "></i></a>
                               <ul class="dropdown-menu">
                                <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">Our Services</a></li>
                                <li class="nav-item"><a href="{% url 'product' %}" class="nav-link">Our Product</a></li>
                                
                         </ul> 

                            
                        </li>
                        <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="#" class="nav-link">OPPORTUNITY <i class="icon-arrow-down" disabled ="disabled "></i></a>
                              <ul class="dropdown-menu">
                                <li class="nav-item"><a href="{% url 'distributor' %}" class="nav-link">As Distributor</a></li>
                                <li class="nav-item"><a href="{% url 'investor' %}" class="nav-link">As Investor</a></li>
                                
                            </ul> 
                          
                        </li>
                     
                        
                        <li class="nav-item ">
                            <a style="font-weight:1000" href="{% url 'contact' %}" class="nav-link">CONTACT</a>
                        </li>
                         {% if request.user.is_authenticated %}
                       <li class="nav-item ">
                            <a style="font-weight:1000" href="{% url 'dashboard' %}" target="_blank" class="nav-link">DASHBOARD</a>
                        </li>
                    {% endif %}
                      
                     
                       {% if not request.user.is_authenticated %}
                          <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="{% url 'user_login' %}" class="nav-link">LOGIN</a>
                          
                        </li>
                           {% endif %}


                            {% if  request.user.is_authenticated %}
                          <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="{% url 'user_logout' %}" class="nav-link">LOGOUT</a>
                          
                        </li>
                           {% endif %}


                            
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        
                    </ul>

                    <!-- Navbar Toggle -->
                    <ul class="navbar-nav toggle">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                                <i class="icon-menu m-0"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- Navbar Action -->
                    <ul class="navbar-nav action">
                        <li class="nav-item ml-3">
                            {% comment %} <a href="https://themeforest.net/item/nexgen-corporate-business-consulting-html-template/27965988?license=regular&open_purchase_for_item_id=27965988" target="_blank" class="btn ml-lg-auto primary-button">PURSHASE</a> {% endcomment %}
                            <!-- 
                                Suggestion: Replace the purchase button above with a contact button.
                                
                                <a href="#contact" class="smooth-anchor btn ml-lg-auto primary-button">CONTACT US</a>
                            -->
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

    