{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.the
me.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="custom.js"></script>
 <!-- Preloader -->
        {% include 'preloader.html' %}

        <!-- Header -->
          <header id="header">




            <!-- Top Navbar -->
            <nav class="navbar navbar-expand top">
                <div class="container header">

                    <!-- Navbar Items [left] -->
                    <ul class="navbar-nav">
                       
                    </ul>

                    <!-- Nav holder -->
                    <div class 



           

                    <!-- Navbar Items [right] -->
     
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-phone-alt mr-2"></i>+91 7805-355491</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link"><i class="fas fa-envelope mr-2"></i>support@tranage.com</a>
                        </li>
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link pr-0"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-fixed sub">
                <div class="container header">

                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="/">
                       
                        
                            <img src="https://res.cloudinary.com/tranage/image/upload/v1624019453/1_mssgf7.png" alt="Tranage">
                       
                    </a>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items -->
                   
                    <ul class="navbar-nav items ">
                        <li class="nav-item dropdown ">
                            <a style="font-weight:1000" href="{% url 'index' %}" class="nav-link bb">OVERVIEW </i></a>
                           
                        </li>
                        <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="#" class="bb nav-link ">FOR YOU <i class="icon-arrow-down" disabled ="disabled "></i></a>
                               <ul class="dropdown-menu">
                                <li class="nav-item"><a href="{% url 'service' %}" class="nav-link">Our Services</a></li>
                                <li class="nav-item"><a href="{% url 'product' %}" class="nav-link">Our Product</a></li>
                                
                         </ul> 

                            
                        </li>
                        <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="#" class="nav-link">OPPORTUNITY <i class="icon-arrow-down" disabled ="disabled "></i></a>
                              <ul class="dropdown-menu">
                                <li class="nav-item"><a href="{% url 'distributor' %}" class="nav-link">As Distributor</a></li>
                                <li class="nav-item"><a href="{% url 'investor' %}" class="nav-link">As Investor</a></li>
                                
                            </ul> 
                          
                        </li>
                     
                        
                        <li class="nav-item ">
                            <a style="font-weight:1000" href="{% url 'contact' %}" class="nav-link">CONTACT</a>
                        </li>
                         {% if request.user.is_authenticated %}
                       <li class="nav-item ">
                            <a style="font-weight:1000" href="{% url 'dashboard' %}" target="_blank" class="nav-link">DASHBOARD</a>
                        </li>
                    {% endif %}
                      
                     
                       {% if not request.user.is_authenticated %}
                          <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="{% url 'user_login' %}" class="nav-link">LOGIN</a>
                          
                        </li>
                           {% endif %}

                            {% if  request.user.is_authenticated %}
                          <li class="nav-item dropdown">
                            <a style="font-weight:1000" href="{% url 'user_logout' %}" class="nav-link">LOGOUT</a>
                          
                        </li>
                           {% endif %}

                            
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item dropdown">
                                          
                          <a href="#partners"><img style="height: 40px;width:40px;margin-top: 10px;" src="https://res.cloudinary.com/tranage/image/upload/v1624019091/bell_lcvppl.gif" alt=""></a>

                        </li>
                    </ul>

                    <!-- Navbar Toggle -->
                    <ul class="navbar-nav toggle">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                                <i class="icon-menu m-0"></i>
                            </a>
                        </li>
                    </ul>

                    <!-- Navbar Action -->
                    <ul class="navbar-nav action">
                        <li class="nav-item ml-3">
                            {% comment %} <a href="https://themeforest.net/item/nexgen-corporate-business-consulting-html-template/27965988?license=regular&open_purchase_for_item_id=27965988" target="_blank" class="btn ml-lg-auto primary-button">PURSHASE</a> {% endcomment %}
                            <!-- 
                                Suggestion: Replace the purchase button above with a contact button.
                                
                                <a href="#contact" class="smooth-anchor btn ml-lg-auto primary-button">CONTACT US</a>
                            -->
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

    

        <!-- Hero -->
        <section id="slider" class="hero p-0 odd">
            <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">
                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <video class="full-image to-bottom" data-mask="50" src="https://res.cloudinary.com/tranage/video/upload/v1624018965/TRANAGE_dqbduo.mp4" autoplay muted loop></video>

                        <div class="slide-content row">
                            <div class="col-12 d-flex justify-content-start justify-content-md-end inner">
                                <div class="right text-left">

                                    <!-- Content -->
                                    <h1 data-aos="zoom-in" data-aos-delay="2000" class="title effect-static-text"><span class="featured bottom"><span>Further.</span></span><br>Faster.Safer.</h1>
                                    <p data-aos="zoom-in" data-aos-delay="2400" class="description bigger">We certify swift, uncomplicated and secured transportation services for you.</p>
                                   
                                    <!-- Action -->
                                    <div data-aos="fade-up" data-aos-delay="2800" class="buttons">
                                        <div class="d-sm-inline-flex">
                                            {% comment %} <a href="#contact" class="smooth-anchor mt-4 btn primary-button">GET IN TOUCH</a> {% endcomment %}
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>



 {% for card in cards  %}
     <!-- Modal -->
<div  class="modal fade" id="exampleModalCenter{{card.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 style="color:black;text-align:center;" class="modal-title text-center" id="exampleModalCenterTitle">{{card.heading}}  </h5>
   
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
     
      </div>
      <span style="margin-left:5%">Location : {{card.location}} </span>
      <br>
      <span style="margin-left:5%">Last Date : {{card.expiry_date}}</span>
      <div class="modal-body">
        <p style="color:black" id="idcard">
        {{card.description}} 
        </p>
      </div>
  
    
   
      <div class="modal-footer">
         <button type="button" id="informbtn{{card.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button> 
         <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#example{{card.id}}" style="background:#00A6A6">Inform Us</a>
       
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="example{{card.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{card.heading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading" style="text-align:center">Let Us Know</h3>
                                <div class="row register-form">
                                    <div class="col-md-12">
                                    <form id="proform{{card.id}}" action="">
                                        <div class="form-group">
                                            <input required type="text" class="form-control" id="name{{card.id}}" placeholder="Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input id="email{{card.id}}" required type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input  id="mobile{{card.id}}"  pattern="[6789][0-9]{9}" required type="mobile" class="form-control" placeholder="contact no. *" value="" />
                                        </div>
                                       <input id="project{{card.id}}" value="{{card.heading}}" type="text" style="display:none;">
                                        
                                    </div>
                                    <div class="col-md-12">
                                        
                                        
                                        <div class="form-group">
                                             <textarea id="message{{card.id}}" name="message" class="form-control field-message" placeholder="Message"></textarea>
                                           
                                        </div>
                                        <div class="g-recaptcha" data-sitekey="6LdTZj4bAAAAAL0U_euT6nwpFUzy4E95k2CiBxR8"></div>

                                    </div>
                                </div>
                            </div>
                           </div>
      <div class="modal-footer">
        <button type="button" id="closebtn{{card.id}}" class="btn btn-secondary" data-dismiss="modal">Close</button> 
        <input type="button" id="savebtn{{card.id}}"    class="btn btn-primary" style="background:#00A6A6" value="Send" >
      </div>
      </form>
    </div>
  </div>
</div>
 
 {% endfor %}

<style>
 :root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #000 ;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
  
}


</style>


<section id="partners" class="section-2 partners">
            <div class="overflow-holder">
                <div class="container-fluid">
               <div class="row">
                 <div class="col-md-12">
                 <h2 style=" text-align: center;"><span class="featured"><span>Recent </span></span> Updates</h2>
            <div class="brand-carousel section-padding owl-carousel" id="car1" style="background:#111117;">
                        {% for card in cards %}
                      
                        <div class="single-logo"  >
                                    <div class="card text-center align-items-center " style="width:100%;">
                                        <div class="card-body">
                                     
                                            <h5 style="color:#00A6A6" data-sid="{{card.id}}" id="heading" class="card-title">{{card.heading}}</h5>
                                            <h6 style="color:#00A6A6" class="card-title">Location : {{card.location}}</h6>
                                            <p id="pdata" data-sid="{{card.id}}"  style="font-size:16px;" class="card-text text-justify" >{{card.description|truncatechars:300}}</p>
                                            <p style="font-size:16px;color:#00A6A6">Last date : {{card.expiry_date}}</p>
                                            
                                            <a href="#" id="cardbtn1"   data-toggle="modal" data-target="#exampleModalCenter{{card.id}}"  class="gold align-self-center btn-primary"  style="background:#00A6A6 ;padding:10px;border-radius:5px;margin-top:5px;color:white">Read More</a>

                                       
                                
                                           
                                        </div>
                                    </div>
                        </div>
                        {% endfor %}
                                            
                            </div>
                        </div>
                    </div>
                </div>
                </div>
               
</section> 







        <!-- Services -->
        <section id="services" class="section-1 offers featured" style="color:#111117;">
            <div class="container">
            <div class="row items">
                <div class="col-12 col-md-8 pr-md-4 text">
                    <div data-aos="fade-up"  class="row intro">
                        <div class="col-12 p-0">
                            
                            <h2 ><span class="featured"><span>Our</span></span> Overview</h2>
                            <p style="color:#111117;">Transportation industry contributed roughly 6.3% of GDP and is majorly    dominated by road sector. More than 50% of freight and 90% of passenger traffic are handled by road. Government as well private investments, rising exports, increasing interstate movement of goods and passengers, growing FMCG sector and rising disposable income are the major drivers of transportation industry in India. In order to boost the connectivity across country, 100% FDI has been allowed in roads and Highway sector via automatic route.</p>
                            
                           
                            <div class="row">
                                <div class="col-12 p-0 input-group align-self-center">
                                    <a href="{% url 'about' %}" class="btn primary-button" style="background:#00A6A6">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-12 col-md-4 item">
                    <div class="">
                        <div class="col-12">
                             <img src="https://res.cloudinary.com/tranage/image/upload/v1624018610/aa6sma8a3butdolntumi.png" alt="Logo" class="logo"> 
                         
                       <h4 style="color:#111117;">Technology</h4>
                            <p style="color:#111117;">Focused on developing technology solutions adapted to our client's needs.</p>  
                        </div>
                    </div>
                </div>
              {% comment %} <div data-aos="fade-up" class="col-12 col-md-3 item">
                    <div class="card">
                <div class="col-12">
                            <img src="{% static 'assets/images/gallery-5.jpg' %}" alt="Logo" class="logo">
                            <h4>Transport</h4>
                            <p>We develop operational strategies to improve logistical efficiency.</p>
                        </div> 
                    </div>
                </div>  {% endcomment %}
            </div>
            </div>
        </section>
 
        <!-- Skills -->
       
        {% comment %} second {% endcomment %}
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text items">
                        <div data-aos="fade-up"  class="row intro">
                            <div class="col-12 p-0">
                                <span class="pre-title m-auto m-md-0"></span>
                                <h2><span class="featured"><span>The</span></span> Vision</h2>
                                <p>TRANAGE believes that supporting the transportation industry with contemporary equipment and devices will certainly boost the accuracy, transparency and reliability of clients over transporters. Consequently, a team of skilled professionals and specialists are working hard to identify the major concerns of transportation and to find out innovative and apt solutions for them.</p>
                                  <div class="col-12 p-0 input-group align-self-center">
                                    <a href="{% url 'about' %}" class="btn primary-button"  style="background:#00A6A6">READ MORE</a>
                                </div>
                              
                               
                            </div>
                        </div>
                    </div>
                   <div class="col-12 col-md-6 p-0 image">
                        <img src="https://res.cloudinary.com/tranage/image/upload/v1624018695/awr4pqeynnc5k7cy4sad.png" class="fit-image" alt="Fit Image">
                    </div> 
                </div>
            </div>
        </section>
  
        <!-- Partners -->
        <section id="partners" class="section-3 partners">
            <div class="overflow-holder">
                <div class="container">
               <div class="row">
                 <div class="col-md-12">
                 <h2><span class="featured" ><span>The</span></span> Mission</h2>
                   <p style="color:#111117;">We at TRANAGE, are aimed to setting up an enormous transportation network extended throughout India. We have dreamed for an easy yet secured online medium that can transport bulk material or products from North to South and East to West in pan India swiftly and hassle less.  </p>
                   <p style="color:#111117;">TRANAGE is determined its solid presence in pan India and to register 1 million trucks with the platform of Tranage. The design and system is planned to assist transporters and truckers in improving their financials. Thus, Tranage dreams to anchor its name among leading trucking brands.</p>
                     <div class="col-12 p-0 input-group align-self-center">
                                    <a href="{% url 'about' %}" class="btn primary-button"  style="background:#00A6A6">READ MORE</a>
                                </div>
                 </div>
               </div>
                </div>
            </div>
        </section>

        <style>
       body {
background: aliceblue;
}
.section-padding{
padding:60px 0;
}
.brand-carousel {
background: white;
margin-top: 3%;
}
.owl-dots {
text-align: center;
margin-top: 4%;
}
.owl-dot {
display: inline-block;
height: 15px !important;
width: 15px !important;
background-color: #878787 !important;
opacity: 0.8;
border-radius: 50%;
margin: 0 5px;
}
.owl-dot.active {
background-color: #000 !important;
}
@media screen and (min-width: 600px) {
  #client1{
    margin-left: 25%;
  }
}
@media screen and (max-width:590px) {
    #client1 {
    margin-left: 42%;
  }
}
@media screen and (max-width:500px) {
    #client1 {
    margin-left: 40%;
  }
}
@media screen and (max-width:418px) {
    #client1 {
    margin-left: 35%;
  }
}
@media screen and (max-width:418px) {
    #client1 {
    margin-left: 38%;
  }
}
@media screen and (max-width:350px) {
    #client1 {
    margin-left: 33%;
  }
@media screen and (max-width:300px) {
    #client1 {
    margin-left: 33%;
  }
}
        </style>

  <h2 style=" text-align: center;" ><span class="featured"><span>Our</span></span> Clients</h2>
<div class="brand-carousel section-padding owl-carousel" id="car2" >
  <div class="single-logo">
    <img id="client1" src="https://res.cloudinary.com/tranage/image/upload/v1624019183/SO_oatmzb.jpg" alt="" style="height:100px;width:100px">
  </div>
<div class="single-logo">
    <img id="client1" src="https://res.cloudinary.com/tranage/image/upload/v1624019173/MOTEM_mdepqp.png" alt="" style="height:110px;width:100px">
  </div>
<div class="single-logo">
    <img id="client1" src="https://res.cloudinary.com/tranage/image/upload/v1624019155/lnt_y10z4c.png" alt="" style="height:100px;width:100px">
  </div>
<div class="single-logo">
    <img id="client1" src="https://res.cloudinary.com/tranage/image/upload/v1624019128/BUILD_mxqqgn.png"  alt="" style="height:100px;width:100px">
  </div>

<div class="single-logo">
    <img id="client1" src="https://res.cloudinary.com/tranage/image/upload/v1624019105/BLACKD_mrffwq.jpg" alt="" style="height:100px;width:100px">
  </div> 
</div>
<script>
$('#car1').owlCarousel({
  loop:true,
  margin:10,
  autoplay:true,
  responsive:{
    0:{
      items:1
    },
    600:{
      items:3
    },
    1000:{
      items:2
    }
  }
}) 
$('#car2').owlCarousel({
  loop:true,
  margin:10,
  autoplay:true,
  responsive:{
    0:{
      items:1
    },
    600:{
      items:4
    },
    1000:{
      items:5
    }
  }
}) 

</script>








        <!-- Blog -->
      
        <!-- Footer -->
      {% include 'footer.html' %}
        <!-- Modal [search] -->
        <div id="search" class="p-0 modal fade" role="dialog" aria-labelledby="search" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <h2>What are you looking for?</h2>
                                        <div class="badges">
                                            <span class="badge"><a href="#">Consulting</a></span>
                                            <span class="badge"><a href="#">Audit</a></span>
                                            <span class="badge"><a href="#">Assurance</a></span>
                                            <span class="badge"><a href="#">Advisory</a></span>
                                            <span class="badge"><a href="#">Financial</a></span>
                                            <span class="badge"><a href="#">Capital Markets</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="text" class="form-control" placeholder="Enter Keywords">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [sign] -->
        <div id="sign" class="p-0 modal fade" role="dialog" aria-labelledby="sign" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h2>Sign In</h2>
                                        <p>Don't have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#register">Register now</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">SIGN IN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [register] -->
        <div id="register" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h2>Register</h2>
                                        <p>Have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#sign">Sign In</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">REGISTER</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [map] -->
        <div id="map" class="p-0 modal fade" role="dialog" aria-labelledby="map" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header absolute" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body p-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.123073808986!2d12.490042215441486!3d41.89021017922119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61b6532013ad%3A0x28f1c82e908503c4!2sColiseu!5e0!3m2!1spt-BR!2sbr!4v1594148229878!5m2!1spt-BR!2sbr" width="600" height="450" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [responsive menu] -->
        <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                            <div class="contacts p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>        
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
     
{% include 'project_ajax.html' %}
{% endblock content %}