{% extends 'base.html' %}
{% block content %}
 {% include 'preloader.html' %}
 {% include 'header.html' %}
        <!-- Hero -->
        <section id="slider" class="hero p-0 odd featured">
            <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <img src="assets/images/bg-wide.jpg" alt="Full Image" class="full-image" data-mask="80">    

                        <div class="slide-content row text-center">
                            <div class="col-12 mx-auto inner">

                                <!-- Content -->
                                <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Partners</li>
                                    </ol>
                                </nav>

                                <h1 class="mb-0 title effect-static-text">Partners</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Partners -->
        <section id="partners" class="section-1 offers testimonials">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <span class="pre-title">Union that achieves results</span>
                        <h2>Partnership <span class="featured"><span>Network</span></span></h2>
                        <p class="text-max-800">We work in partnership with the most reputable companies in the current market.</p>
                    </div>
                </div>
                <div class="row justify-content-center items">
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-1.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-2.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-3.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-4.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-1.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-2.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-3.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-12 col-md-6 item">
                        <div class="card">
                            <div class="col-12">
                                <img src="assets/images/logo-4.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>

                                <!-- Action -->
                                <div class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#" class="mt-3 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
     {% include 'footer.html' %}  
{% endblock content %}