<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>Tranage</title>

        <meta name="description" content="Business, Consulting, Finance, Insurance, Startup and Technology">
        <meta name="subject" content="Business, Consulting, Finance, Insurance, Startup and Technology">
        <meta name="author" content="Codings">

        <!-- ==============================================
        Favicons
        =============================================== -->
       <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/apple-touch-icon-114x114.png' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/slider.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/icons.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/icons-fa.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/animation.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/cookie-notice.min.css' %}">


        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
       <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">

        <!-- ==============================================
        Theme Color
        =============================================== -->
        <meta name="theme-color" content="#21333e">

        <!-- ==============================================
        Theme Settings
        =============================================== -->
        <style>
            :root {
                --nav-holder-bg-color: #111117;

                --section-1-bg-color: #111117;
                --section-2-bg-color: #eef4ed;
                --section-3-bg-color: #111117; --section-3-bg-image: url('/assets/images/bg-7.jpg');
                --section-4-bg-color: #eef4ed;
                --section-5-bg-color: #111117;
                --section-6-bg-color: #eef4ed;
            }
        </style>
        
    </head>

    <body>
        
        <!-- Preloader -->
        <div id="preloader" data-timeout="2000" class="odd preloader counter">
            <div data-aos="fade-up" data-aos-delay="500" class="row justify-content-center text-center items">
                <div data-percent="100" class="radial">
                    <span></span>
                </div>
            </div>
        </div>

           {% include 'header.html' %}

            <!-- Navbar -->
         
        </header>
<section class="section-3 hero p-0 odd">
            <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">

                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <div class="parallax-y-bg" style="background-image:url({% static 'assets/images/Product/Banner3.png' %})"></div>

                        <div class="slide-content row">
                            <div class="col-12 d-flex justify-content-start justify-content-md-end inner">
                                <div class="right pb-0 text-left">

                                    <!-- Content -->
                                    <h1 class="title effect-static-text">
                                       
                                        ProductsYou Want !
                                    </h1>
                                    
                                    <div class="row item widget-tags">
                                        <div class="col-12 mt-3 p-0 align-self-center">
                                            {% comment %} <div class="badges">
                                                <span class="badge">Dark</span>
                                                <span class="badge">Hero Section</span>
                                                <span class="badge">Full Image</span>
                                                <span class="badge">Aligned Right</span>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
        <!-- Navbar Holder -->
        <div class="navbar-holder"></div>

        <!-- Section 1 -->
<section class="section-1 m-0 p-0 odd offers" style="background-image:url({% static  'assets/images/truck100.jpg' %})">
                  
                <div class="row justify-content-center  items">
                    <div class="col-12 item">
                        <div class="card">
                         <h2 class="text-center"><span class="featured "><span>Global Positioning System</span></span> </h2>
                            <img src="{% static 'assets/images/fleet_banner.png' %}" alt=""><br><br>
                             <h2 class="text-center"><span class="featured"><span>We Bestow Tracking Solution</span></span></h2>
                             <p class="p-5 text-justify">Telematics is the utilization of telecommunications networks to transmit information to and from assets at a distance. To put it in easier to understand terms, it’s the tracking, monitoring and connectivity of vehicles.Essentially, anything that would be considered part of the Internet Things(IOT) related to vehicles could fall under telematics.</p>

                       <h3 class=" pl-5 " style="color:#00A6A6">Fleet Tracking Service (GPS device)</h3>
    <p class="pl-5 text-justify">Fleet tracking enables vehicle owners and organiza on to keep a close eye on their on-ground vehicles round the clock with the comfort of sittng back at home. On the other hands, it assists you to manage trips and opera ons of the ﬂeet more precisely.</p>
                      
                   </div>
                   
                </div>
            </div>

</section>



    <section class="section-3 p-0 m-0 odd offers">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2>Get Report and Analyze</h2>
                    </div>
                </div>
                <div class="row justify-content-center items">
                    <div class="col-12 col-md-6 col-lg-6 item">
                        <div class="card">
                           <i class="fab fa-accusoft fa-4x"></i>
                            <h4>AC Misused</h4>
                            <p class="text-justify">Complete report on AC usages will be provided which will include Vehicle number, driver’s name, number of times AC is used, total dura on, longest dura on, along with average dura on.</p>
                           
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 item">
                        <div class="card">
                            <i class="fas fa-map-marked-alt fa-4x"></i>
                            <h4>Travel Detail With D-T</h4>
                            <p class="text-justify">From Start to end every detail of the trip is at your hand coun ng start & end loca on, covered distance, running time, idling me, slowdown me, inac ve me, alerts along with travel playback facility.</p>
                           
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 item">
                        <div class="card">
                            <i class="fas fa-chart-line fa-4x"></i>
                            <h4>Idel Detail Report</h4>
                            <p class="text-justify">We bestow our clients with comprehensive idling report which will contain number of mes idling is happened, the total idling dura on of a vehicle along with average idling and longest idling dura on.</p>
                          
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 item">
                        <div class="card">
                            <i class="fas fa-gas-pump fa-4x"></i>
                            <h4>Fuel Report</h4>
                            <p class="text-justify">With us, vehicle owners can easily track the fuel uses whenever they want. This report will show the tank capacity, fuel quan ty in liters during the start of the trip as well as during the end of the trip, along with distance covered by the vehicle.</p>
                            
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 item">
                        <div class="card">
                            <i class="fas fa-project-diagram fa-4x"></i>
                            <h4>Inactive Report</h4>
                            <p class="text-justify">Vehicle owners will get to know that how many times their vehicle is been inac ve and its dura on.</p>
                          
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 item">
                        <div class="card">
                           <i class="fas fa-pencil-alt fa-4x"></i>
                            <h4>Input Report</h4>
                            <p class="text-justify">This report will show you the number of times igni on is switched on and oﬀ and total dura on.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section id="services" class="section-1 offers featured" style="background:#111117">
            <div class="container">
            <div class="row items">
                <div class="col-12 col-md-6 pr-md-4 text">
                    <div data-aos="fade-up"  class="row intro">
                        <div class="col-12 p-0">
                           
                            <h2 ><span class="featured"><span>Fuel Level  </span></span>Sensors </h2>
                          <p style="text-align: justify;">Ergonomic bayonet-type fastening to save mounting time</p>
                          <p style="text-align: justify;">Strengthened fixing thru the bottom spring catch</p>
                          <p style="text-align: justify;">Sealing holes to prevent intrusion</p>
                          <p style="text-align: justify;">All the necessary mounting items and cable in delivery set</p>
                          <p style="text-align: justify;">Certified to comply with obligatory automatic compensation based on ambient temperature</p>
                          <p style="text-align: justify;">Adjustable signal filtration to smooth the peaks for different conditions of the vehicles operations</p>
                          <p style="text-align: justify;">Digital self-diagnostics to control data reliability</p>
                            
                           
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-12 col-md-6 item">
                    <div class="">
                        <div class="col-12">
                        <div class="col-12 p-0 input-group align-self-center">
                                   
                                </div>
                             <img src="{% static 'assets/images/fleet4.png' %}" alt="Logo" class="logo"> 
                         
                      
                        </div>
                    </div>
                </div>
              {% comment %} <div data-aos="fade-up" class="col-12 col-md-3 item">
                    <div class="card">
                <div class="col-12">
                            <img src="{% static 'assets/images/gallery-5.jpg' %}" alt="Logo" class="logo">
                            <h4>Transport</h4>
                            <p>We develop operational strategies to improve logistical efficiency.</p>
                        </div> 
                    </div>
                </div>  {% endcomment %}
            </div>
            </div>
</section>
<section class="section-1 m-0 p-0 odd offers" style="background-image:url({% static  'assets/images/truck100.jpg' %})">
                  
                <div class="row justify-content-center  items">
                    <div class="col-12 item">
                        <div class="card">
                         
                          <h2 class="text-center"><span class="featured"><span>Hawk Eye CCTV Solution</span></span></h2>
                           <p class="p-5  text-justify">TRANAGE, provides all type of tracking and posi oning services to our business partners so that they can get true informa on about vehicle and related issues internally as well as externally both.</p>

                            <img src="{% static 'assets/images/fleet_banner.png' %}" alt=""><br><br>
                            
                            
                      
                   </div>
                   
                </div>
            </div>

</section>

        <!-- Footer -->
       {% include 'footer.html' %}

        <!-- Modal [search] -->
        <div id="search" class="p-0 modal fade" role="dialog" aria-labelledby="search" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <h2>What are you looking for?</h2>
                                        <div class="badges">
                                            <span class="badge"><a href="#">Consulting</a></span>
                                            <span class="badge"><a href="#">Audit</a></span>
                                            <span class="badge"><a href="#">Assurance</a></span>
                                            <span class="badge"><a href="#">Advisory</a></span>
                                            <span class="badge"><a href="#">Financial</a></span>
                                            <span class="badge"><a href="#">Capital Markets</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="text" class="form-control" placeholder="Enter Keywords">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [sign] -->
        <div id="sign" class="p-0 modal fade" role="dialog" aria-labelledby="sign" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h2>Sign In</h2>
                                        <p>Don't have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#register">Register now</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">SIGN IN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [register] -->
        <div id="register" class="p-0 modal fade" role="dialog" aria-labelledby="register" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body">
                        <form action="/" class="row">
                            <div class="col-12 p-0 align-self-center">
                                <div class="row">
                                    <div class="col-12 p-0 pb-3">
                                        <h2>Register</h2>
                                        <p>Have an account? <a href="#" class="primary-color" data-toggle="modal" data-target="#sign">Sign In</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group">
                                        <input type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="col-12 p-0 input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 p-0 input-group align-self-center">
                                        <button class="btn primary-button">REGISTER</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [map] -->
        <div id="map" class="p-0 modal fade" role="dialog" aria-labelledby="map" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header absolute" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="modal-body p-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.123073808986!2d12.490042215441486!3d41.89021017922119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61b6532013ad%3A0x28f1c82e908503c4!2sColiseu!5e0!3m2!1spt-BR!2sbr!4v1594148229878!5m2!1spt-BR!2sbr" width="600" height="450" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal [responsive menu] -->
        <div id="menu" class="p-0 modal fade" role="dialog" aria-labelledby="menu" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout" role="document">
                <div class="modal-content full">
                    <div class="modal-header" data-dismiss="modal">
                        <i class="icon-close fas fa-arrow-right"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                            <div class="contacts p-0 col-12 text-center">
                                <!-- Append [navbar] -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll [to top] -->
        <div id="scroll-to-top" class="scroll-to-top">
            <a href="#header" class="smooth-anchor">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>        
        
        <!-- ==============================================
        Google reCAPTCHA // Put your site key here
        =============================================== -->
        <script src="https://www.google.com/recaptcha/api.js?render=6Lf-NwEVAAAAAPo_wwOYxFW18D9_EKvwxJxeyUx7"></script>

        <!-- ==============================================
        Vendor Scripts
        =============================================== -->
     <script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery.inview.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/ponyfill.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/slider.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/animation.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/progress-radial.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/bricklayer.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/gallery.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/shuffle.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/cookie-notice.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/particles.min.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>