{% load static %}
<script>

    $("#savebtn").click(function(){

        var name= $("#name").val();
        var email= $("#email").val();
        var mobile= $("#mobile").val();
        var message= $("#message").val();
        var project= $("#project").val();
      
        mydata = {name:name,email:email,mobile:mobile,message:message,project:project}
        console.log(mydata)
         if(card_email()==true){
            $.ajax({
         url: "{% url 'enquiry' %}",
         method: "POST",
         data: mydata,
         success: function(data){
             
             notie.alert({ type: 'success',  text:  ' we will contact you soon !',position: 'bottom', time: 5 }) // Hides after 2 seconds
         }
         
        })
         }
         else{
             alert("hummmmmm")
         }
    
       
    })

function card_email(){
    var name = document.getElementById("name").value;
    var a = document.getElementById("mobile").value;
    var email = document.getElementById("email").value;
    var message = document.getElementById("message").value;
    console.log(name)
    console.log(a)
    console.log(email)
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    
    if(name==""){

        notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter your name!' })
        document.getElementById("name").focus();
        return false;
        }
    if(message==""){

    notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter your query!' })
    document.getElementById("name").focus();
    return false;
    }

    if(email==""){

            notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter your email address!' })
            document.getElementById("email").focus();
            return false;
            }

    if(!(re.test(email))){
    notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter correct email address!' })
    document.getElementById("email").focus();
    return false;
    }
    if (isNaN(a)){
        document.getElementById("mobile").value="";
        notie.alert({ type: 'warning',position: 'bottom',text: 'Please enter correct mobile number!' })
        document.getElementById("mobile").focus();
         return false;
    }
    if(a.length<10){
        document.getElementById("mobile").value="";
        notie.alert({ type: 'warning',position: 'bottom',text: 'Mobile Number can not be less than 10 digits' })
          document.getElementById("mobile").focus();
         return false;
    }
    if(a.length>10){
        document.getElementById("mobile").value="";
        notie.alert({ type: 'warning',position: 'bottom',text: 'Mobile Number can not be more than 10 digits' })
        document.getElementById("mobile").focus();
         return false;
    }
    else{
        return true;
    }


}

</script>