{% load static %}
{% for card in cards %}
<script>

$("#savebtn{{card.id}}").click(function(){

var name= $("#name{{card.id}}").val();
var email= $("#email{{card.id}}").val();
var mobile= $("#mobile{{card.id}}").val();
var a= mobile;
var message= $("#message{{card.id}}").val();
var project= $("#project{{card.id}}").val();

function card_email(){
    
    console.log(name)
    console.log(a)
    console.log(email)
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    
    if(name==""){
        
       
        swal('Please enter your name!');
        document.getElementById("name{{card.id}}").focus();
        return false;
        }
    

    if(email==""){

            swal('Please enter your email address!')
            document.getElementById("email{{card.id}}").focus();
            return false;
            }

    if(!(re.test(email))){
    swal('Please enter correct email address!')
    document.getElementById("email{{card.id}}").focus();
    return false;
    }
    if (isNaN(a)){
        document.getElementById("mobile{{card.id}}").value="";
       swal('Please enter correct mobile number!')
        document.getElementById("mobile{{card.id}}").focus();
         return false;
    }
    if(a.length<10){
        document.getElementById("mobile{{card.id}}").value="";
       swal('Mobile Number can not be less than 10 digits')
          document.getElementById("mobile{{card.id}}").focus();
         return false;
    }
    if(a.length>10){
        document.getElementById("mobile{{card.id}}").value="";
       swal('Mobile Number can not be more than 10 digits' )
        document.getElementById("mobile{{card.id}}").focus();
         return false;
    }
    if(message==""){

        swal('Please enter your query!' )
        document.getElementById("message{{card.id}}").focus();
        return false;
        }
    else{
        return true;
    }


}
mydata = {name:name,email:email,mobile:mobile,message:message,project:project,captcha: grecaptcha.getResponse()}

 if(card_email()==true){
    fun()
    $.ajax({
 url: "{% url 'enquiry' %}",
 method: "POST",
 data: mydata,
 success: function(data,status){

  if(data.d=="sent"){
     document.getElementById("closebtn{{card.id}}").click();
     document.getElementById("informbtn{{card.id}}").click();
     document.getElementById("proform{{card.id}}").reset();
     swal("Good job!", "we will contact you soon !", "success");
  }
  else{
    
    swal('Please Enter Captcha!' )
  }
    
    
 }
 
})
 }
 else{
 }


})

  

</script>

{% endfor %}
<script>

    function fun(){
        let timerInterval
Swal.fire({
  title: 'Sending Your Message',
  html: 'I will close in <b></b> milliseconds.',
  timer: 8000,
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    timerInterval = setInterval(() => {
      const content = Swal.getHtmlContainer()
      if (content) {
        const b = content.querySelector('b')
        if (b) {
          b.textContent = Swal.getTimerLeft()
        }
      }
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})
    }
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
