{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'preloader.html' %}
{% include 'header.html' %}
        <!-- Hero -->
        <section id="slider" class="hero p-0">
            <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">
                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <div class="parallax-y-bg" style="background-image:url({% static 'assets/images/truck2.jpeg' %})"></div> 

                        <div class="slide-content row">
                            <div class="col-12 d-flex justify-content-start inner">
                                <div class="left text-left">

                                    <!-- Content -->
                                    <h1 data-aos="zoom-in" data-aos-delay="2000" class="title effect-static-text">
                                    
                                        Top <span class="featured bottom"><span>Services</span></span>
                                    </h1>
                                    <!-- <p data-aos="zoom-in" data-aos-delay="2400" class="description bigger">Train your mind to see the bright side in any situation. Opportunities do not arise you create them.</p> -->

                                    <!-- Action -->
                                    <div data-aos="fade-up" data-aos-delay="2800" class="buttons">
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services" class="section-1 odd offers" style="background-color:#111117;">
            <div class="container">
            <div class="row items">
                <div class="col-12 col-md-0 pr-md-5 text">
                    <div data-aos="fade-up"  class="row intro">
                        <div class="col-12 p-0">
                            <span class="pre-title m-0"></span>
                            <h2 class="mb-0"><br> <span class="featured bottom"><span>Transport Management System</span></span> </h2>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-12 col-md-12 item">
                    <div class="card">
                        <div class="gallery row justify-content-center">
                                    <a class="col-6 pl-0 item" href="{% static 'assets/images/truck11.png' %}">
                                        <img src="{% static 'assets/images/truck11.png' %}" alt="Certificate" class="w-100">
                                    </a>
                                   
                                </div>
                        <h4></h4>
                        <p style="text-align: justify;">This era of online ordering goes hand-in-hand with rapid and bang on time delivery. As a result, transportation processes required to be mapped out more swiftly and in larger detail. Our Transport Management System coordinates the truck owners and the fleet on the road in a faultless way: thanks to its seamless addition and interconnection with our data management system, you get to monitor and regulate transportation processes within a single system, and without requiring to interface with third-party providers. We serve for ease, efficiency and optimum transportation management.</p>


                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div>
                </div>
                {% comment %} <div data-aos="fade-up" class="col-12 col-md-12 item">
                     <div class="card">
                        <i class="icon fas fa-motorcycle"></i>
                        <h4>Motoboy</h4>
                        <p> </p>
                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div> 
                </div> {% endcomment %}
                <div data-aos="fade-up" class="col-12 col-md-4 item">
                    {% comment %} <div class="card">
                        <i class="icon fas fa-shuttle-van"></i>
                        <h4>Shuttle Van</h4>
                        <p>Suitable for medium sized loads that need digital tracking.</p>
                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div> {% endcomment %}
                </div>
                <div data-aos="fade-up" class="col-12 col-md-4 item">
                    {% comment %} <div class="card">
                        <i class="icon fas fa-truck-moving"></i>
                        <h4>Mini Truck</h4>
                        <p>For dry cargo deliveries with more cubic allocation.</p>
                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div> {% endcomment %}
                </div>
            </div>
            </div>
        </section>

        <!-- About -->
        <section id="about" class="section-2 hero p-0">
            <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">

                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <div class="parallax-y-bg" style="background-image:url({% static 'assets/images/truck6.jpg' %})"></div>

                        <div class="slide-content row">
                            <div class="col-12 d-flex justify-content-start justify-content-md-end inner">
                                <div class="right pb-0 text-left">

                                    <!-- Content -->
                                    <h2 class="title effect-static-text" style="color:#ffffff">Emergency Vehicle Maintenance & Support .</h2>
                                    <p><strong>While on the trip, vehicle break-down on a remote location (where no mechanical support is available) is quite painful for truck-owners as it unnecessarily increases the cost and also causes delay in the delivery. TRANAGE facilitates its registered trucks and vehicles with on-demand emergency support for maintenance. A van with profoundly experienced maintenance engineer and all the necessary tools would be available at the provided location for repair and maintenance. </strong></p>
                                    <!-- Action -->
                                    <div class="buttons">
                                        {% comment %} <div class="d-sm-inline-flex">
                                            <a href="#" class="mt-4 btn primary-button">READ MORE</a>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

     <section id="services" class="section-1 odd offers" style="background-color:#111117;">
            <div class="container">
            <div class="row items">
                <div class="col-12 col-md-0 pr-md-5 text">
                    <div data-aos="fade-up"  class="row intro">
                        <div class="col-12 p-0">
                            <span class="pre-title m-0"></span>
                            <h2 class="mb-0"><br> <span class="featured bottom"><span>Driver’s Training & Certification  </span></span> </h2>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-12 col-md-12 item">
                    <div class="card">
                         <div class="gallery row justify-content-center">
                                    <a class="col-6 pl-0 item" href="{% static 'assets/images/certificate.png' %}">
                                        <img src="{% static 'assets/images/certificate.png' %}" alt="Certificate" class="w-100">
                                    </a>
                                   
                                </div>
                        <h4></h4>
                        <p style="text-align: justify;">An efficient, aware and expert driver is an asset for transporters as well as a transportation unit. He keeps all the legalities as well as documentation checked and prepared, follows proper traffic rules & regulations, ensures the security of the product, fuel and vehicle, and makes his best efforts to complete the trip on time, Thus, a trained and certified diver helps to maximize the profit of truck owner.</p>
 <p style="text-align: justify;">Tranage registers, trains and certifies drivers to serve better in the industry. A Tranage certified driver ensure on-time delivery, security of product/material along with vehicles and avoids any unfair activity during the trip. Our training module renders the moral values and working ethics in drivers who wish to make a vocation in the trucking industry.  </p>
 

                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div>
                </div>
                {% comment %} <div data-aos="fade-up" class="col-12 col-md-12 item">
                     <div class="card">
                        <i class="icon fas fa-motorcycle"></i>
                        <h4>Motoboy</h4>
                        <p></p>
                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div> 
                </div> {% endcomment %}
                <div data-aos="fade-up" class="col-12 col-md-4 item">
                    {% comment %} <div class="card">
                        <i class="icon fas fa-shuttle-van"></i>
                        <h4>Shuttle Van</h4>
                        <p>Suitable for medium sized loads that need digital tracking.</p>
                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div> {% endcomment %}
                </div>
                <div data-aos="fade-up" class="col-12 col-md-4 item">
                    {% comment %} <div class="card">
                        <i class="icon fas fa-truck-moving"></i>
                        <h4>Mini Truck</h4>
                        <p>For dry cargo deliveries with more cubic allocation.</p>
                        <a href="#"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                    </div> {% endcomment %}
                </div>
            </div>
            </div>
        </section>

 <section id="about" class="section-2 hero p-0">
            <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">

                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <div class="parallax-y-bg" style="background-image:url({% static 'assets/images/truck1.jpg' %})"></div>

                        <div class="slide-content row">
                            <div class="col-12 d-flex justify-content-start justify-content-md-end inner">
                                <div class="right pb-0 text-left">

                                    <!-- Content -->
                                    <h2 class="title effect-static-text" style="color:#ffffff"><span class="pre-title m-0">  </span >Global Positioning System </h2>
                                    <!-- Action -->
                                    <div class="buttons">
                                    <p><strong>The Global Positioning System (GPS) is the tool that allows real time vehicle tracking. It is a blend of more than 27 satellites transmitting signals to receivers around the world. The signals and their interface can make available information about the accurate location of any vehicle fitted out with a GPS receiver. As far as fleet management is concerned, GPS tracking system enables fleet owners and fleet managers to get real-time information about fleet/trucks/vehicles/weather on a map or in the form of reports.</strong></p>
                                    <p><strong>These reports can be later cross-checked with other vehicle related information such fuel consumption, driver behavior and maintenance, combining time and position with other data, in order to get real fleet information. <b>The commanding insights help transporters in making decisions for their fleet.</b></strong></p>
                                        {% comment %} <div class="d-sm-inline-flex">
                                            <a href="#" class="mt-4 btn primary-button">READ MORE</a>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       

       
        <!-- Get -->
        <section id="get" class="section-4 hero p-0 odd" style="background-color:#111117">
            <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">

                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <!-- Media -->
                        <div class="parallax-y-bg" style="background-image:url({% static 'assets/images/truck9.jpg' %})"></div>

                        <div class="slide-content row">
                            <div class="col-12 d-flex justify-content-start justify-content-md-center inner">
                                <div class="center text-left text-md-center">
                                     <div class="gallery row justify-content-center">
                                    <a class="col-6 pl-0 item" href="{% static 'assets/images/truck11.png' %}">
                                        <img src="{% static 'assets/images/truck12.png' %}" alt="Certificate" class="w-100">
                                    </a>
                                   
                                </div>

                                    <!-- Content -->
                                    <h2 class="title effect-static-text">Accounting &   <span class="featured bottom"><span>Taxation</span></span></h2>
                                    <p class="description mr-auto ml-auto" style="color:#fff;">
                                   <b> We assist our registered transporters and truck owners with proper accounting and taxation of value generated by their vehicles. It helps truckers in on-time instalment submission of their vehicles and to earn more through their fleet. The accounting & taxation expert at Tranage will also assist transporters to calculate the net worth of their fleet and solutions to make it bigger as well. </b></p>

                                    <!-- Action -->
                                    <div class="buttons">
                                        <div class="d-sm-inline-flex">
                                            <a href="#contact" class="smooth-anchor mt-4 btn primary-button">GET IN TOUCH</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
     
        
        <!-- Footer -->
      {% include 'footer.html' %}
{% endblock content %}
